<div class="row">
    <div class="col-sm-8">
        <div class = "question_answer">
            <h2><%= @quiz.content%>　回答</h2>
            <ul>
                <li class = "question_sentence">問題１：<%= @questions.first.content %></li>
                <li><%= @questions.first.explanation %></li>
                <li class = "question_sentence">問題２：<%= @questions.second.content %></li>
                <li><%= @questions.second.explanation %></li>
                <li class = "question_sentence">問題３：<%= @questions.third.content %></li>
                <li><%= @questions.third.explanation %></li>
            </ul>
            
            <div class = "back_to_index">
                <%= link_to "一覧に戻る", users_question_index_path, class: "btn btn-info" %>
            </div>
        </div>
    </div>
    
    <div class = "col-sm-4">
        <%= render 'layouts/asidebar' %>
    </div>
</div>