<div class = "main_question">
    <h2><%= @quiz.content%></h2>
    
    
        <h3>問題１</h3>
        <ul>
        <li id = "question_sentence"><%= @questions.first.content%></li>
            <li>答え１：<%= @questions.first.choice_1%></li>
            <li>答え２：<%= @questions.first.choice_2%></li>
            <li>答え３：<%= @questions.first.choice_3%></li>
            <li>答え４：<%= @questions.first.choice_4%></li>
        </ul>
        
        <h3>問題２</h3>
        <ul>
        <li id = "question_sentence"><%= @questions.second.content%></li>
            <li>答え１：<%= @questions.second.choice_1%></li>
            <li>答え２：<%= @questions.second.choice_2%></li>
            <li>答え３：<%= @questions.second.choice_3%></li>
            <li>答え４：<%= @questions.second.choice_4%></li>
        </ul>
        
        <h3>問題３</h3>
        <ul>
        <li id = "question_sentence"><%= @questions.third.content%></li>
            <li>答え１：<%= @questions.third.choice_1%></li>
            <li>答え２：<%= @questions.third.choice_2%></li>
            <li>答え３：<%= @questions.third.choice_3%></li>
            <li>答え４：<%= @questions.third.choice_4%></li>
        </ul>
        
        <%= link_to "回答", answer_path %>
    
</div>